.download {
    box-sizing: border-box;
    max-width: 100%;
    width: 1212px;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}

.download__button_ios,
.download__button_android {
    box-sizing: border-box;
    width: 360px;
    padding: 10px 35px;
    font: normal 700 26px 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.download__button_ios {
    background-color: #41B066;
    transition: color 0.2s ease-in-out;
}

.download__button_android {
    background-color: #A680D2;
    transition: color 0.2s ease-in-out;
}

@media (hover:hover) {

    .download__button_ios:hover,
    .download__button_android:hover {
        color: #FFE400;
    }
}

@media (hover:none) {

    .download__button_ios:active,
    .download__button_android:active {
        color: #FFE400;
        transition: color 0.1s ease-out;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}

@media screen and (max-width: 767px) {
    .download {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .download__button_ios,
    .download__button_android {
        width: 100%;
        padding: 10px;
        font-size: 20px;
    }
}
