.feedback {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__img {
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev-button,
.next-button {
    height: 40px;
    width: 40px;
    border: none;
    font-size: 30px;
    font-family: "Open Sans";
    color: #fff;
    background: #41B066;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.prev-button:hover,
.next-button:hover {
    color: white;
    background-color: #FFE400;
}

@media screen and (max-width: 530px) {

    .prev-button,
    .next-button {
        height: 28px;
        width: 28px;
        font-size: 22px;
    }

    .slider__img img {
        width: 90%;
        height: 90%;
        object-fit: cover;
    }

    .slider__img {
        display: flex;
        justify-content: center;
    }
}